#nav {
  box-shadow: $drop-shadow;
  background-color: pink;
  justify-content: space-between;
  height: 10vh;
  #header {
    font-size: 3em;
    font-family: $header-font;
    letter-spacing: 5px;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 8px;
  }
  .link {
    margin: 8px;
    font-family: $body-font;
    text-decoration: none;
    color: $white;
    outline: 0;
  }
}
